<!DOCTYPE html>
<html xmlns="htpts://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="src\main\resources\img\NetInventario.ico">
    <title>Inicio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img th:src="@{src\main\resources\img\NetInventario.png}" alt="NetInventario" height="40">
            </a>

            <!-- Botón hamburguesa para móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--Administrador   #   Empleado -->
                        <a class="nav-link active" href="/clientes">Consultar Clientes</a>
                    </li>
                    <li class="nav-item">
                        <!--Administrador   #   Empleado -->
                        <a class="nav-link" href="/productos">Gestion de Inventaio</a>
                    </li>
                    <li class="nav-item">
                        <!--Administrador   #   Empleado -->
                        <a class="nav-link" href="/listarVendas">Registrar Ventas</a>
                    </li>
                    <li class="nav-item">
                        <!--Administrador-->
                        <a class="nav-link" href="/usuarios">Gestion de Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <!--Administrador-->
                        <a class="nav-link" href="/reportes">Generar Reportes</a>
                    </li>
                    <li class="nav-item">
                        <!--Administrador-->
                        <a class="nav-link" href="/proveedores">Gestion de Proveedores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>